<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{user.name}}</title>
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'quotes/style.css' %}" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
<body>
    <h1>Info for {{user.name}}</h1>
    <p>Alias: {{user.alias}}</p>
    <p>Email: {{ user.email}}</p>
    <p>{{ quote.added_by.name }}</p>
</body>
</html>
